.DS_Store

/vendor
/node_modules

Homestead.yaml
Homestead.json

/bootstrap/compiled.php

.env.*.php
.env.php
.env

/build/logs
/build/coverage

/app/config/packages

/public/packages
/public/upload
/public/bower_components/
/public/photos/
/composer.lock



/public/images
.idea